
.navbar{
    background-color: #F4EDED;
}
/* hero tiitle */
.hero-title{
    font-family: sans-serif;
}

/* menu card title */

.title{
    color:#837A7A;

}

ul li {
  position: relative;
  cursor: pointer;
}

ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; 
  width: 0%;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}

ul li:hover::after {
  width: 100%;
}
